*.user
**/*.user
packages/
**/Service\ References/
TestResults/
_ReSharper.NoteManager/
NoteManager.v11.suo
*.suo
NoteManager.DTO/bin/
NoteManager.DTO/obj/
NoteManager.DataAccess/bin/
NoteManager.DataAccess/obj/
NoteManager.Infrastructure/bin/
NoteManager.Infrastructure/obj/
NoteManager.IoC/bin/
NoteManager.IoC/obj/
NoteManager.Mapper/bin/
NoteManager.Mapper/obj/
NoteManager.Migrations/bin/
NoteManager.Migrations/obj/
NoteManager.Model/bin/
NoteManager.Model/obj/
NoteManager.Queries/bin/
NoteManager.Queries/obj/
NoteManager.Services/bin/
NoteManager.Services/obj/
NoteManager/bin/
NoteManager/obj/
NoteManager.EntityFramework/obj/
NoteManager.EntityFramework/bin/
